Binaries
DerivedDataCache
Intermediate
Saved/webcache
Saved/VarTemp
Saved/Temp
Saved/Crashes
Saved/Shaders
Saved/Cooked
Saved/Config
Saved/Autosaves
Saved/VarSave
Saved/MaterialStats
Saved/MaterialStatsDebug
Saved/BugIt
Saved/Backup
Saved/Appdata
Saved/StagedBuilds
Saved/Logs
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace